html
    head
        title= "Watchlist"
    body
        h1= "Movies"
        h2= title
        p= description
        p= "Connor's Rating: " + connor_rating
        p= "Austin's Rating: " + austin_rating
        