html
  head
    title= movie.title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
  body(class="bg-secondary")
    div(class="container mt-5")
      div(class="d-flex justify-content-between")
        div(class="")
          h1= movie.title
        div(class="")
          a(class="btn btn-info border border-dark" href="/movies") Back to Browse
      form(action=`/movies/view/${movie._id}`, method="POST")
        div(class="form-group")
          div(class="row mt-2")
            div(class="col")
              label(for="title") Title: 
              input(class="form-control" name="title" type="text" value=movie.title)
            div(class="col")
              label(for="director") Director: 
              input(class="form-control" name="director" type="text" value=movie.director)
          div(class="row mt-2")
            div(class="col")
              label(for="description") Description: 
              textarea(cols="30" rows="5" class="form-control" name="description")= movie.description
          div(class="row mt-2")
            div(class="col")
              label(for="genre") Genre: 
              input(class="form-control" name="genre" type="text" value=movie.genre)
            div(class="col")
              label(for="date_watched") Date Watched:
              input(class="form-control" name="date_watched" type="text" value=movie.date_watched)
          div(class="row mt-2")
            div(class="col")
              label(for="austin_rating") Austin's Rating:
              input(class="form-control" name="austin_rating" type="text" value=movie.austin_rating)
            div(class="col")
              label(for="connor_rating") Connor's Rating:
              input(class="form-control" name="connor_rating" type="text" value=movie.connor_rating)
          div(class="row mt-2")
            div(class="col")
              input(class="btn btn-warning border border-dark" type="submit", value="Update")